stages:
  - dependencies
  - build
  - audit
  - publish

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

dependencies-install:
  stage: dependencies
  image: node:10-alpine
  before_script:
    - apk add --update openssh-client bash git && rm -rf /var/cache/apk/*
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | ssh-add -
    - mkdir -p ~/.ssh
    - bash -c '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - yarn install

  artifacts:
    expire_in: 1d
    paths:
      - node_modules/
  tags:
    - docker

build-tsc:
  stage: build
  image: node:10-alpine
  dependencies:
    - dependencies-install
  script:
    - yarn build

test:
  stage: audit
  image: node:10-alpine
  dependencies:
    - dependencies-install
  script:
    - yarn -s test
  artifacts:
    reports:
      junit: junit.xml

publish-master:
  stage: build
  image: node:10-alpine
  dependencies:
    - dependencies-install
  script:
    - yarn config set registry https://yarn.btcore.app
    - yarn publish --tag "${CI_COMMIT_REF_SLUG}"
  only:
    - master
    - nightly